@font-face {
    font-family: Titulo;
    src: url(./Princess_Sofia/PrincessSofia-Regular.ttf);
}
@font-face {
    font-family: Texto;
    src: url(./Varela_Round/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: Especial;
    src: url(./Handlee/Handlee-Regular.ttf);
}